@font-face {
  font-family: "Playfair";
  src: url("/fonts/playfair.ttf");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/spacegrotesk.ttf");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/plex.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --width: 1376px;
  --space: 96px;
  --default-grid: 1fr 1fr 1fr;
  --default-grid-count: 3;
  --black: #000;
  --font-serif: Playfair, serif;
  --font-sans-serif: IBM Plex Sans, sans-serif;
  --font-display: Space Grotesk, sans-serif;
  --time: 0.2s;
  --color-front: #2b2826;
  --color-back: #e8e6e4;
  --color-muted: #948e8a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-back: #2b2826;
    --color-front: #e8e6e4;
    --color-muted: #948e8a;
  }
}

@media (max-width: 960px) {
  :root {
    --space: 48px;
  }
}

@media (min-width: 512px) and (max-width: 756px) {
  :root {
    --default-grid: 1fr 1fr;
    --default-grid-count: 2;
  }
}

@media (max-width: 511px) {
  :root {
    --default-grid: 1fr;
    --default-grid-count: 1;
  }
}
